body{
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  width: 350px;
  height: 380px;
}

.menu{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}

.menu div{
  width: 100%;
  text-align: center;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.menu a{
  text-decoration: none;
  color: black;
}

.active{
  background-color: #E2D297;
}

.active a{
  color: white;
}

.invailable{
  background-color: grey;
}

#user{
  padding: 20px;
}

select{
  width: 100%;
}

input[type="text"]{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

input[type="button"]{
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* courir */

#courir, #solebox {
  padding-left: 30px;
  padding-right: 30px;
}


select{
  margin-top: 10px;
}